WaterMonFinal.json
[{"id":"7ad88e25.8eb71","type":"tab","label":"Sensor Gauge","disabled":false,"info":""},{"id":"9be7f4f3.5d3728","type":"tab","label":"Calibration ","disabled":false,"info":""},{"id":"6ce5352c.67aca4","type":"tab","label":"Machine Learning","disabled":false,"info":""},{"id":"3dfd3e8c.d4ba62","type":"tab","label":"ML Sensor Prediction","disabled":false,"info":""},{"id":"22f394e5.96b87c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c8bd5b8.9d901c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"352010d7.7bdd4","type":"ui_tab","z":"","name":"Color Sensor Input","icon":"dashboard","disabled":false,"hidden":false},{"id":"f7013d7d.5eb85","type":"ui_group","z":"","name":"Green","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"b7fc28ec.02cca8","type":"ui_group","z":"","name":"blue","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"ceeff91c.56a9b8","type":"ui_group","z":"","name":"Clear","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"34e8a021.21be4","type":"ui_group","z":"","name":"Red","tab":"352010d7.7bdd4","disp":true,"width":"6","collapse":false},{"id":"40cbfaa6.5d37a4","type":"ui_group","z":"","name":"Day chart","tab":"b8b5757d.f38bb8","disp":true,"width":"6","collapse":false},{"id":"46a8ac65.d0f114","type":"google-cloud-credentials","z":"","name":"IOTFI Credentials"},{"id":"b8b5757d.f38bb8","type":"ui_tab","z":"","name":"Chart","icon":"dashboard","disabled":false,"hidden":false},{"id":"836aeafb.6b2e98","type":"ui_group","z":"","name":"2 Minute Chart","tab":"b8b5757d.f38bb8","disp":true,"width":"6","collapse":false},{"id":"94b2215f.4694","type":"bigquery-config","z":""},{"id":"71b170cd.61afd","type":"google-cloud-credentials","z":"","name":"iotfi"},{"id":"4b1f5d5c.eddd44","type":"ui_tab","z":"","name":"Water Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a4020c2.81e","type":"ui_group","z":"","name":"Default","tab":"4b1f5d5c.eddd44","disp":true,"width":"6","collapse":false},{"id":"78575fdf.e65308","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1424ade0.635bda","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55ef459f.a99114","type":"ui_group","z":"","name":"Graphs","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"df73289f.14496","type":"ui_group","z":"","name":"Users","tab":"987658cd.8a2738","disp":true,"width":"6","collapse":false},{"id":"92daa97d.01534","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"638e76e3.97a0e","type":"mqtt-broker","z":"","name":"android consumer","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"987658cd.8a2738","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a51a7b9c.d911e8","type":"mqtt in","z":"7ad88e25.8eb71","name":"","topic":"/red","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":210,"y":60,"wires":[["448190ca.5f77c"]]},{"id":"2a8003a4.56979c","type":"mosca in","z":"7ad88e25.8eb71","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":300,"y":180,"wires":[["b26bdc7c.315b2"]]},{"id":"b26bdc7c.315b2","type":"debug","z":"7ad88e25.8eb71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":280,"wires":[]},{"id":"923ba016.0e2b8","type":"debug","z":"7ad88e25.8eb71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"448190ca.5f77c","type":"simplejs","z":"7ad88e25.8eb71","func":"parse-int","property":"payload","name":"ParseRed","x":480,"y":100,"wires":[["923ba016.0e2b8","309d5d27.3b4112","d51a8cd3.dfc31","a41ac58b.d93428"]]},{"id":"8c0582b5.f3acc","type":"mqtt in","z":"7ad88e25.8eb71","name":"","topic":"/blue","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":270,"y":300,"wires":[["efa9e1ea.c9eb9"]]},{"id":"96f0a4bd.52b498","type":"debug","z":"7ad88e25.8eb71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":380,"wires":[]},{"id":"efa9e1ea.c9eb9","type":"simplejs","z":"7ad88e25.8eb71","func":"parse-int","property":"payload","name":"","x":630,"y":360,"wires":[["96f0a4bd.52b498","309d5d27.3b4112","372a73a6.2476cc","a41ac58b.d93428"]]},{"id":"a9206da1.49085","type":"mqtt in","z":"7ad88e25.8eb71","name":"","topic":"/clear","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":270,"y":380,"wires":[["7a3cde53.a5a1f"]]},{"id":"fa937578.3b2138","type":"debug","z":"7ad88e25.8eb71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":460,"wires":[]},{"id":"7a3cde53.a5a1f","type":"simplejs","z":"7ad88e25.8eb71","func":"parse-int","property":"payload","name":"","x":630,"y":440,"wires":[["fa937578.3b2138","309d5d27.3b4112","bf42e6bb.258ec8","a41ac58b.d93428"]]},{"id":"6a91d0d.0743b3","type":"mqtt in","z":"7ad88e25.8eb71","name":"","topic":"/green","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":270,"y":440,"wires":[["8c5de14a.7776a"]]},{"id":"2ff502a7.920a5e","type":"debug","z":"7ad88e25.8eb71","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"8c5de14a.7776a","type":"simplejs","z":"7ad88e25.8eb71","func":"parse-int","property":"payload","name":"","x":630,"y":500,"wires":[["2ff502a7.920a5e","309d5d27.3b4112","dee6b4ad.3de498","a41ac58b.d93428"]]},{"id":"309d5d27.3b4112","type":"ui_chart","z":"7ad88e25.8eb71","name":"","group":"40cbfaa6.5d37a4","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#669d34","#cbf1ff","#000000","#e32400","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":600,"wires":[[]]},{"id":"d51a8cd3.dfc31","type":"ui_gauge","z":"7ad88e25.8eb71","name":"","group":"34e8a021.21be4","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":220,"wires":[]},{"id":"372a73a6.2476cc","type":"ui_gauge","z":"7ad88e25.8eb71","name":"","group":"b7fc28ec.02cca8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":320,"wires":[]},{"id":"bf42e6bb.258ec8","type":"ui_gauge","z":"7ad88e25.8eb71","name":"","group":"ceeff91c.56a9b8","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":420,"wires":[]},{"id":"dee6b4ad.3de498","type":"ui_gauge","z":"7ad88e25.8eb71","name":"","group":"f7013d7d.5eb85","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":560,"wires":[]},{"id":"a41ac58b.d93428","type":"ui_chart","z":"7ad88e25.8eb71","name":"","group":"836aeafb.6b2e98","order":0,"width":"6","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#669d34","#000000","#53d6fd","#e32400","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":620,"wires":[[]]},{"id":"93482923.435158","type":"mqtt in","z":"9be7f4f3.5d3728","d":true,"name":"","topic":"Classification","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":90,"y":180,"wires":[["a86e1a8a.faa78","6acf5b3a.78157c","c90826e0.fba5d","aa242e0f.8008e"]]},{"id":"c90826e0.fba5d","type":"debug","z":"9be7f4f3.5d3728","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":200,"wires":[],"inputLabels":["msg.payload"]},{"id":"a86e1a8a.faa78","type":"function","z":"9be7f4f3.5d3728","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["30487e5d.ca96ea","474dff69.d777c8"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"30487e5d.ca96ea","type":"debug","z":"9be7f4f3.5d3728","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":120,"wires":[]},{"id":"6acf5b3a.78157c","type":"mqtt out","z":"9be7f4f3.5d3728","name":"fake messages producer","topic":"classification","qos":"","retain":"","broker":"22f394e5.96b87c","x":310,"y":280,"wires":[],"inputLabels":["msg.payload"]},{"id":"474dff69.d777c8","type":"csv","z":"9be7f4f3.5d3728","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":650,"y":200,"wires":[["109fab74.e08725","3d921892.6b642"]]},{"id":"109fab74.e08725","type":"debug","z":"9be7f4f3.5d3728","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":144,"wires":[]},{"id":"3d921892.6b642","type":"file","z":"9be7f4f3.5d3728","d":true,"name":"Csv Storage","filename":"/Users/aadityavoruganti/Desktop/Final/hg50mg.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":791,"y":265,"wires":[[]]},{"id":"bb11ba6a.54003","type":"mqtt in","z":"9be7f4f3.5d3728","name":"","topic":"/SensorReadingName","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":120,"y":400,"wires":[["77fe1d5a.ee80bc","aa242e0f.8008e"]]},{"id":"77fe1d5a.ee80bc","type":"debug","z":"9be7f4f3.5d3728","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":400,"wires":[],"inputLabels":["msg.payload"]},{"id":"aa242e0f.8008e","type":"join","z":"9be7f4f3.5d3728","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":340,"wires":[["fa07883f.67a918","aa8bcc6f.f28228"]]},{"id":"aa8bcc6f.f28228","type":"function","z":"9be7f4f3.5d3728","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":710,"y":380,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"fa07883f.67a918","type":"debug","z":"9be7f4f3.5d3728","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":460,"wires":[]},{"id":"a90710a5.7d968","type":"function","z":"9be7f4f3.5d3728","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":330,"y":480,"wires":[[]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"59938b84.91cb54","type":"create dataset","z":"6ce5352c.67aca4","name":"","path":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/iris.data","saveFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":400,"y":120,"wires":[["48331e9d.047fa8","7005a139.a572f8"]]},{"id":"c16ef5b3.a5cc38","type":"inject","z":"6ce5352c.67aca4","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169,"y":120,"wires":[["59938b84.91cb54"]]},{"id":"48331e9d.047fa8","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":669,"y":120,"wires":[]},{"id":"7005a139.a572f8","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":549,"y":59,"wires":[]},{"id":"5e628fc3.a1d4f8","type":"load dataset","z":"6ce5352c.67aca4","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets/","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":310,"y":320,"wires":[["769b0e69.5d6778","4e935f9.a7e052"],["c26b43be.e559a8","b0f55cdb.7d656"]]},{"id":"31655759.c5a93","type":"inject","z":"6ce5352c.67aca4","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":169.71430206298828,"y":271.4285879135132,"wires":[["5e628fc3.a1d4f8"]]},{"id":"c26b43be.e559a8","type":"debug","z":"6ce5352c.67aca4","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":726.4285278320312,"y":326.999942779541,"wires":[]},{"id":"63ac959f.47e16c","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":724.4285125732422,"y":276.99993896484375,"wires":[]},{"id":"769b0e69.5d6778","type":"decision tree classifier","z":"6ce5352c.67aca4","name":"decision tree classifier trainer","savePath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models/","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":526.2856826782227,"y":288.8571243286133,"wires":[["63ac959f.47e16c"],["c26b43be.e559a8"]]},{"id":"b0f55cdb.7d656","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":454.34912872314453,"y":358.57654571533203,"wires":[]},{"id":"4e935f9.a7e052","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":434.34912872314453,"y":238.57654571533203,"wires":[]},{"id":"aadbc269.42fb8","type":"inject","z":"6ce5352c.67aca4","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["a463faa3.f1962","b1d178f3.3aa258"]]},{"id":"90cca2f7.ae814","type":"predictor","z":"6ce5352c.67aca4","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":414.2857475280762,"y":549.142961025238,"wires":[["b1786679.e3255","4d72806b.8082b8"],["5e8cf6f7.0089d"]]},{"id":"b1786679.e3255","type":"assessment","z":"6ce5352c.67aca4","name":"","score":"accuracy_score","x":552.5715980529785,"y":462.4285788536072,"wires":[["2fd2b140.ccb3ce"],["5e8cf6f7.0089d"]]},{"id":"a463faa3.f1962","type":"load dataset","z":"6ce5352c.67aca4","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":312.8571357727051,"y":468.57138776779175,"wires":[["b1786679.e3255"],["5e8cf6f7.0089d"]]},{"id":"b1d178f3.3aa258","type":"load dataset","z":"6ce5352c.67aca4","name":"","datasetFolder":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":247.14281845092773,"y":640.000011920929,"wires":[["90cca2f7.ae814","a34af823.1146d"],["5e8cf6f7.0089d"]]},{"id":"5e8cf6f7.0089d","type":"debug","z":"6ce5352c.67aca4","name":"error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":728.5715141296387,"y":562.8573718070984,"wires":[]},{"id":"2fd2b140.ccb3ce","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":732.8573341369629,"y":455.7144618034363,"wires":[]},{"id":"4d72806b.8082b8","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":642.4603004455566,"y":641.3596682548523,"wires":[]},{"id":"a34af823.1146d","type":"debug","z":"6ce5352c.67aca4","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":382.46030044555664,"y":700.3596682548523,"wires":[]},{"id":"84285c18.e2ed98","type":"predictor","z":"3dfd3e8c.d4ba62","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":470,"y":120,"wires":[["b43f8651.edc58"],["1cf3b0aa.f2ebbf"]]},{"id":"b43f8651.edc58","type":"mqtt out","z":"3dfd3e8c.d4ba62","name":"","topic":"predictions","qos":"","retain":"","broker":"22f394e5.96b87c","x":750,"y":80,"wires":[]},{"id":"1cf3b0aa.f2ebbf","type":"debug","z":"3dfd3e8c.d4ba62","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":160,"wires":[]},{"id":"38f4ea34.b22306","type":"mqtt in","z":"3dfd3e8c.d4ba62","d":true,"name":"","topic":"Classification","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":160,"y":118,"wires":[["a57330e2.b72208"]]},{"id":"41975469.4ccf14","type":"predictor","z":"3dfd3e8c.d4ba62","name":"decision tree classifier predictor","modelPath":"/Users/aadityavoruganti/.node-red/node_modules/node-red-contrib-machine-learning/test/models","modelName":"dtc.b","x":610,"y":495,"wires":[["e2a23848.e09e28","af45fd9e.6a3058"],["55d546c1.2d67"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload","msg.payload"]},{"id":"e2a23848.e09e28","type":"mqtt out","z":"3dfd3e8c.d4ba62","name":"prediction producer","topic":"predictions","qos":"","retain":"","broker":"22f394e5.96b87c","x":896.9999771118164,"y":394.5554714202881,"wires":[],"inputLabels":["msg.payload"]},{"id":"55d546c1.2d67","type":"debug","z":"3dfd3e8c.d4ba62","name":"error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":874.1111602783203,"y":460.3332347869873,"wires":[],"inputLabels":["msg.payload"]},{"id":"50b5cbf5.ef7efc","type":"mqtt in","z":"3dfd3e8c.d4ba62","name":"classification consumer","topic":"Classification","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":156.33328247070312,"y":396.88880157470703,"wires":[["3087ea6d.92d756","fddf2fd7.ef2948"]],"outputLabels":["msg.payload"]},{"id":"fddf2fd7.ef2948","type":"debug","z":"3dfd3e8c.d4ba62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":454.6111030578613,"y":398.22211170196533,"wires":[],"inputLabels":["msg.payload"]},{"id":"3087ea6d.92d756","type":"function","z":"3dfd3e8c.d4ba62","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)\n};","outputs":1,"noerr":0,"x":326.5555953979492,"y":497.9999256134033,"wires":[["41975469.4ccf14","fddf2fd7.ef2948","d64c199a.3aaa58"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"ddc92fd1.b4c438","type":"debug","z":"3dfd3e8c.d4ba62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":779.3174247741699,"y":686.1904554367065,"wires":[],"inputLabels":["msg.payload"]},{"id":"76545cb5.bdcd14","type":"mqtt in","z":"3dfd3e8c.d4ba62","name":"prediction consumer","topic":"predictions","qos":"2","datatype":"auto","broker":"22f394e5.96b87c","x":147.44440460205078,"y":682.11097240448,"wires":[["28837db8.8e93ea"]],"outputLabels":["msg.payload"]},{"id":"fc24258f.fac0c8","type":"ui_chart","z":"3dfd3e8c.d4ba62","name":"","group":"df73289f.14496","order":0,"width":0,"height":0,"label":"predictions graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":804.8888282775879,"y":627.5554428100586,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"28837db8.8e93ea","type":"function","z":"3dfd3e8c.d4ba62","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)[0]\n};","outputs":1,"noerr":0,"x":348.22217178344727,"y":681.9997653961182,"wires":[["fc24258f.fac0c8","ddc92fd1.b4c438","f383b999.5b012"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"f383b999.5b012","type":"mqtt out","z":"3dfd3e8c.d4ba62","name":"android publisher","topic":"esp/tomer","qos":"","retain":"","broker":"22f394e5.96b87c","x":606.555534362793,"y":717.5552635192871,"wires":[]},{"id":"d64c199a.3aaa58","type":"debug","z":"3dfd3e8c.d4ba62","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":335,"wires":[]},{"id":"af45fd9e.6a3058","type":"debug","z":"3dfd3e8c.d4ba62","name":"print","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":335,"wires":[]},{"id":"a57330e2.b72208","type":"function","z":"3dfd3e8c.d4ba62","name":"string to json","func":"return {\n    payload: JSON.parse(msg.payload)\n};","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["84285c18.e2ed98","75ed7f8.411be8"]],"inputLabels":["msg.payload"],"outputLabels":["msg.payload"]},{"id":"75ed7f8.411be8","type":"debug","z":"3dfd3e8c.d4ba62","name":"print","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":501.3332824707031,"y":185,"wires":[]}]